name: Mark stale issues and pull requests

on:
  schedule:
  - cron: "30 1 * * *"

jobs:
  stale:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/stale@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue has been inactive for a while. Adding the `Stale` label.'
        stale-pr-message: 'This PR has been inactive for a while. Adding the `Stale` label.'
        stale-issue-label: 'Stale'
        stale-pr-label: 'Stale'
